Flask==1.1.1
Flask-WTF==0.14.2
WTForms==2.2.1
python-form==0.2.3
Jinja2==2.10.1
Click==7.0
flask-ldap3-login==0.9.16
Flask-Login==0.4.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
ldap3==2.6.1
MarkupSafe==1.1.1
pyasn1==0.4.7
pyasn1-modules==0.2.6
Werkzeug==0.16.0